<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>


<h1> Users Page</h1>

<%- include ../partials/_navbar.ejs %>


<%for (let i =0; i < users.length; i++){%>
	<div>
	Username: <a href="/users/<%=users[i]._id%>"><%=users[i].username%></a><br/>
	</div>
<%}%>



</body>
</html>