<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> this is the main for the post index page</h1>
    <ul>
    <%for(i=0;i<posts.length;i++){%>
       <li><a href="/posts/<%=posts[i]._id%>"><%=posts[i].title%></li>
    <%}%>

    <form action="/posts/new">
        <input type="submit" value="create new post" />
    </form>
    
</body>
</html>